<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>琳峰泉-联系我们</title>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../../assets/css/home.css" />
</head>
<body>
<header>
    <div class="title">
        <div class="logo">
            <img src="../../../assets/images/logo.png">
            <span class="title-text">广州琳峰泉矿泉饮料有限公司</span>
        </div>
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="">首页</a></li>
                <li role="presentation"><a href="">公司介绍</a></li>
                <li role="presentation"><a href="">生产基地</a></li>
                <li role="presentation"><a href="">新闻动态</a></li>
                <li role="presentation" class="active"><a href="">联系我们</a></li>
            </ul>
        </nav>
        <div class="contact-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h3>广州琳峰泉矿泉饮料有限公司<small>Subtext for header</small></h3>
                    </div>
                    <h3>联系我们</h3>
                    <br/>
                    <h4>地址：深圳市南山区北环大道高发科技园3栋2楼</h4>
                    <h4>电话(Tel): 0755-26788887</h4>
                    <h4>传真(Fax): 0755 26797260</h4>
                    <br/>
                    <h4>消费者投诉建议与招商、代理、送水等请联系：</h4>
                    <h4>服务邮箱： service@ganten.com.cn</h4>
                    <h4>服务热线： 400 883 8238 （周一至周五 09:00至 17：00</h4>
                    <br/>
                    <h4>广告赞助合作等请联系：gg@ganten.com.cn</h4>
                </div>
            </div>
        </div>
    </div>
</header>
<footer>
    <ul>
        <li>更多详情请<a href="">联系我们</a></li>
        <li>网站最终解释权归广州琳峰泉矿泉饮料有限公司所有</li>
        <li>Copyright© LinFengQuan company. All rights reserved. 粤ICP备07876550号</li>
    </ul>
</footer>
<script type="application/javascript" src="../../../assets/js/jquery-1.12.2.min.js"></script>
<script type="application/javascript" src="../../../assets/js/bootstrap.js"></script>
</body>
</html>