<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>琳峰泉-公司简介</title>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../../assets/css/home.css" />
</head>
<body>
<header>
    <div class="title">
        <div class="logo">
            <img src="../../../assets/images/logo.png">
            <span class="title-text">广州琳峰泉矿泉饮料有限公司</span>
        </div>
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="">首页</a></li>
                <li role="presentation" class="active"><a href="">公司介绍</a></li>
                <li role="presentation"><a href="">生产基地</a></li>
                <li role="presentation"><a href="">新闻动态</a></li>
                <li role="presentation"><a href="">联系我们</a></li>
            </ul>
        </nav>
        <div class="introduce-body">
            <div class="introduce-wrap">
                <div class="int-title">公司简介</div>
                <div class="int-content">
                    <p>
                        一个充满时尚的年轻品牌，在饮水行业的风起云涌中，高雅登台。
                        取自于九连山余脉的帽峰山森林保护区水源，是一家集科研，设计、
                        制造、包装、生产、销售为一体化的高新技术现代化企业。公司开发
                        了大型的天然矿泉水源，对工艺加工专业化和专对对象加工专业化生产。
                    </p>
                    <p>
                        我司已通过国家QS质量检验标准和广州环境卫生A级企业标准。公司拥有
                        雄厚的技术力量，有一批专门从事水净化处理制造等方面的资深工程师、
                        专家学者及营销团队为之护航指引。公司依托雄厚的技术力量支撑，使用最
                        先进的饮用水处理技术和设备，经严格现代化科学的工艺精制生产程序和优
                        质的天然矿泉水制造而成。
                    </p>
                    <p>
                        广州帽峰山的泉水源经专家鉴定，为大面积天然无染区，水源是世界罕有的低钠，
                        低矿化度，低硬度等的优质天然矿泉水，经国家相关技术权威部门检测签定为：
                        水质达标PH6.8至7.8，其偏硅酸含量为30至48，并含硒、锶、锌、镁、钙、钾、
                        钠等多种人体健康必须的微量元素，是非常优质得到偏硅酸型并含硒的天然矿泉水源，
                        被誉为中国的“水中皇后”尤为珍贵，称为水中精品。饮用琳峰泉含硒泉水，是您尊贵身份的象征。
                    </p>
                    <p>
                        我们以“起步就与品牌同步”为经营理念，将品牌定位为“时尚、高雅、安全”的天然绿色食品，
                        以“做中国有影响力的饮用水品牌”为目标。
                    </p>
                </div>
            </div>
            <div class="product-wrap">
                <div class="pro-title">公司产品</div>
                <div class="pro-content">
                    <p>
                        水的好坏取决于水源，而我们琳峰泉就取自于非常好的水源。琳峰泉的水源坐落于远离尘嚣的白云帽峰山最深处，
                        周围群山环抱，绿叶葱葱，没有人为的污染，完全的自然原生态环境。那里的泉水缓慢地经过层层的下渗，被各
                        种致密的土层、岩石层层覆盖保护着，加上大自然的神奇洁净过滤作用，使得琳峰泉的水质清甜甘醇，清冽爽口。
                    </p>
                    <p>
                        琳峰泉水含有丰富的天然矿物质，其中偏硅酸含量高达39.9mg/L，含有微量元素硒，硒元素有美容养颜抗衰老、防癌等功效，是人体必备的矿物质元素。
                    </p>
                    <p>
                        目前公司已拥有饮用产品规格：18L桶装水，18.9L桶装水
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="application/javascript" src="../../../assets/js/jquery-1.12.2.min.js"></script>
<script type="application/javascript" src="../../../assets/js/bootstrap.js"></script>
<script>
    $(function(){
        showContent();
        if($(window).height() >= 700){
            showProduct();
        }
    });
    function showContent(){
        var $intTitle = $(".int-title");
        var $intContent = $(".int-content");
        var timer = setTimeout(function(){
            $intTitle.addClass("titleMove");
            $intContent.addClass("contentMove");
            clearTimeout(timer);
        },200)
    }
    function showProduct(){
        var $proTitle = $(".pro-title");
        var $proContent = $(".pro-content");
        var timer = setTimeout(function(){
            $proTitle.addClass("proTitleMove");
            $proContent.addClass("proContentMove");
            clearTimeout(timer);
        },200)
    }
</script>
</body>
</html>