<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理页面</title>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../../assets/css/manage.css" />
</head>
<body>
<div class="manage-wrap">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">广州琳峰泉矿泉饮料有限公司</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">退出登陆</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script type="application/javascript" src="../../../assets/js/jquery-1.12.2.min.js"></script>
<script type="application/javascript" src="../../../assets/js/bootstrap.js"></script>
</body>
</html>